html,
body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
}

#root {
  background: linear-gradient(#4e54c8, #8f94fb);
}

.front {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

u {
  text-underline-position: under;
}

.wel-text {
  width: 45%;
  text-align: left;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
}

.linked {
  display: flex;
}

.links {
  text-decoration: none;
}

.register,
.login {
  height: 86.3vh;
  text-align: center;
  width: 50%;
  margin: auto auto 0px auto;
  padding-top: 100px;
}

.reg {
  width: 40%;
  margin: auto;
}

.title {
  margin-top: 0px;
}

.dash {
  height: 500vh;
  width: 100%;
  display: grid;
  grid-template-columns: 800px auto;
  justify-content: center;
  padding-top: 40px;
}

.profile {
  height: 70vh;
  border-radius: 20px;
}

.feed {
  border-radius: 20px;
}

.profile {
  width: 150px;
  position: fixed;
  left: 1150px;
}

.feed {
  margin-right: 40px;
}

.post,
.others {
  border-radius: 20px;
}

.profile,
.post,
.others {
  background-color: #ffd9e8;
  border: 2px solid #000;
}

.others {
  padding: 20px;
  width: 600px;
  margin: 0px auto 20px auto;
}

h2 {
 display: flex;
 justify-content: center;
}

.post {
  height: 10vh;
  margin-bottom: 20px;
}

.postCard {
  display: flex;
}

.profileCard {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
}

.profpic,
.postProf {
  border: 2px solid;
  border-radius: 50%;
}

.postProf {
  width: 50px;
  position: relative;
  top: 5px;
  left: 10px;
}

.profpic {
  width: 80px;
  margin: 20px auto 0px auto;
}

.modal {
  position: relative;
  top: 20px;
  left: 30px;
  display: flex;
}

.postText {
  width: 90%;
  padding: 10px;
}

.modelBtn {
  position: relative;
  bottom: 6px;
  border-radius: 20px;
  border: 2px solid;
  width: 400px;
  padding: 7px 0px 0px 20px;
  margin-right: 30px;
}

.icons span {
  position: relative;
  bottom: 7px;
  margin: 0px 20px 0px 0px;
}

.icons {
  position: relative;
  top: 6px;
}

.modelBtn:hover,
span,
.icons {
  cursor: pointer;
}

.btn {
  margin-right: 20px;
}

.content {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.update {
  height: 100vh;
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  padding-bottom: 50px;
}

.updPic {
  width: 200px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  border: 3px solid;
}

.cent {
  display: flex;
  margin: auto;
}

.cent label {
  margin-right: 20px;
}

.myposts {
  height: 300vh;
  display: grid;
  grid-template-columns: 800px;
  justify-content: center;
}

.top {
  margin-top: 50px;
}

.head {
  border: 3px solid;
  border-radius: 20px;
  background-color: #ffd9e8;
  margin: 0px 500px 0px 500px;
  text-align: center;
}

.photo,
.vid {
  width: 400px;
  border: 2px solid #000;
  border-radius: 30px;
}
